:root {
  --primary-red: #EE5350;       /* Rojo */
  --primary-yellow: #FFCB05;    /* Amarillo */
  --primary-blue: #559EDF;      /* Azul */
  --primary-green: #77CC55;     /* Verde */
  --primary-brown: #926A2A;     /* Marrón */
  --primary-gray: #A4A4A4;      /* Gris */
  --primary-purple: #9B69D9;    /* Morado */
  --primary-pink: #FF6F61;      /* Rosa */
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: var(--primary-gray);
  color: #333;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: transform;
  animation: logo-spin 9s linear infinite, logo-hover 0.3s ease-in-out;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-hover {
  0% {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  50% {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  100% {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
}

.logo.react {
  height: 6em;
  padding: 1.5em;
  will-change: transform;
  animation: logo-spin 2s linear infinite, logo-hover 0.3s ease-in-out;
}

h1 {
  font-size: 24px;
  color: var(--primary-blue);
}

button {
  background-color: var(--primary-red);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--primary-pink);
}

#pokemon-form {
  background-color: #fff;
  padding: 10px; /* Reducimos el padding */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px 0; /* Agregamos margen para separar */
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}




#cotizaciones {
  list-style: none;
  padding: 0;
}

#cotizaciones li {
  background-color: var(--primary-yellow);
  color: #333;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#pokemon-form {
  background-color: #fff;
  padding: 20px; /* Aumentamos el padding para mayor separación */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

/* Style for input elements */
input {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Adjusted the border-radius for a more typical look */
  margin-top: 10px; /* Increased margin-top for spacing */
}

/* Style for select elements */
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Adjusted the border-radius for a more typical look */
  margin-top: 10px; /* Increased margin-top for spacing */
}


/* Estilos para pantallas de tablet (768px o menos) */
@media (max-width: 768px) {
  #pokemon-form {
    padding: 10px;
  }

  /* Estilos para input en tablet */
  input {
    width: 98%; /* Usar 100% para llenar el ancho disponible */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }

  /* Estilos para select en tablet */
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

/* Estilos para pantallas pequeñas, como smartphones (320px o menos) */
@media (max-width: 320px) {
  #pokemon-form {
    padding: 5px; /* Puedes ajustar el espaciado según tus necesidades */
  }

  /* Estilos para input en pantallas pequeñas */
  input {
    width: 97%; /* Usar 100% para llenar el ancho disponible */
    padding: 5px; /* Reducir el padding en pantallas pequeñas */
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* Estilos para select en pantallas pequeñas */
  select {
    width: 100%;
    padding: 5px; /* Reducir el padding en pantallas pequeñas */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px; /* Reducir el margen superior para ahorrar espacio */
  }
}



#historial {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

h2 {
  color: #e95151;
}

button {
  background-color: #e95151;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  animation: fadeIn 0.5s ease-in-out;
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  transition: transform 0.2s;
}

li:hover {
  transform: translateY(-5px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.cotizacion-item {
  background-color: #FF3C3C; /* Rojo Pokédex (fondo) */
  color: #FFFFFF; /* Texto blanco para contraste */
  padding: 10px; /* Agregar relleno */
  border: 2px solid #2A75BB; /* Azul Pokédex (borde) */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s, transform 0.2s;
}

.cotizacion-item:hover {
  background-color: #2A75BB; /* Azul Pokédex (cambio de color en hover) */
  transform: scale(1.05); /* Efecto de escala al pasar el ratón */
}
